<style>
  a {
    text-decoration: none;
  }
  .padding {
    padding: 10px;
  }
</style>
<div class="padding">
  <a class="padding" routerLink="/">home</a>
  <a class="padding" routerLink="/roomDetail/1">roomDetail 1</a>
  <a class="padding" routerLink="/roomDetail/2">roomDetail 2</a>
  <a class="padding" routerLink="/roomDetail/3">roomDetail 3</a>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
